@inject SomeService someService

<ul>
    @if (isLoading)
    {
        <li>Loading…</li>
    }
    else
    {
        @foreach (var item in items)
        {
            <li>@item.Title</li>
        }
    }
</ul>

@code {
    bool isLoading = true;
    IList<Item> items;

    [CascadingParameter]
    public Task<IList<Item>> ItemLoadTask { get; set; }

    protected override void OnInitialized()
    {
        isLoading = true;
    }

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        if (ItemLoadTask != null)
        {
            isLoading = true;
            StateHasChanged();

            items = await ItemLoadTask;
            isLoading = false;
            StateHasChanged();
        }
    }
}